<div class="door_dash_sidebar">
    <div class="door_dash_sidebarHeader">
        <img src="https://miro.medium.com/fit/c/160/160/1*-vDMxRLjYV3tgkQk8S0jSg.png" alt="door_dash_logo" />
        <a href="{% url 'door_dash' %}">Door Dash</a>
    </div>
    <div class="sidebar__tab">
        <a href="{% url 'door_dash_all' %}">View All</a>
    </div>
    <div class="sidebar__tab">
        <a href="{% url 'door_dash_new' %}">Add</a>
    </div>
    <div class="sidebar__tab">
        <a href="/doorDash/month/jan">January</a>
    </div>
    <div class="sidebar__tab">
        <a href="/doorDash/month/feb">February</a>
    </div>
    <div class="sidebar__tab">
        <a href="/doorDash/month/mar">March</a>
    </div>
    <div class="sidebar__tab">
        <a href="/doorDash/month/apr">April</a>
    </div>
    <div class="sidebar__tab">
        <a href="/doorDash/month/may">May</a>
    </div>
    <div class="sidebar__tab">
        <a href="/doorDash/month/june">June</a>
    </div>
    <div class="sidebar__tab">
        <a href="/doorDash/month/july">July</a>
    </div>
    <div class="sidebar__tab">
        <a href="/doorDash/month/aug">August</a>
    </div>
    <div class="sidebar__tab">
        <a href="/doorDash/month/sep">September</a>
    </div>
    <div class="sidebar__tab">
        <a href="/doorDash/month/oct">October</a>
    </div>
    <div class="sidebar__tab">
        <a href="/doorDash/month/nov">November</a>
    </div>
    <div class="sidebar__tab">
        <a href="/doorDash/month/dec">December</a>
    </div>
</div>